In [1]:
import pandas as pd

# Section B Q2

In [26]:
cwt = pd.read_csv("./cwt_62_day_standard.csv")

In [27]:
cwt

,Quarter,HB,HBQF,HBT,CancerType,CancerTypeQF,NumberOfEligibleReferrals62DayStandard,NumberOfEligibleReferrals62DayStandardQF,NumberOfEligibleReferralsTreatedWithin62Days,NumberOfEligibleReferralsTreatedWithin62DaysQF
0,2012Q1,S08000015,NaN,S08000015,Breast,NaN,52.0,NaN,52.0,NaN
1,2012Q1,S08000015,NaN,S08000015,Cervical,NaN,2.0,NaN,2.0,NaN
2,2012Q1,S08000015,NaN,S08000015,Colorectal,NaN,31.0,NaN,29.0,NaN
3,2012Q1,S08000015,NaN,S08000015,Head & Neck,NaN,2.0,NaN,2.0,NaN
4,2012Q1,S08000015,NaN,S08000015,Lung,NaN,34.0,NaN,33.0,NaN
...,...,...,...,...,...,...,...,...,...,...
16540,2021Q4,S92000003,d,S08000029,All Cancer Types,d,180.0,p,160.0,p
16541,2021Q4,S92000003,d,S08000030,All Cancer Types,d,237.0,p,209.0,p
16542,2021Q4,S92000003,d,S08000031,All Cancer Types,d,1167.0,p,837.0,p
16543,2021Q4,S92000003,d,S08000032,All Cancer Types,d,346.0,p,282.0,p
16544,2021Q4,S92000003,d,SB0801,All Cancer Types,d,43.0,p,25.0,p

# 2A

In [28]:
cwt=cwt.drop(['NumberOfEligibleReferrals62DayStandardQF'], axis=1)

In [29]:
cwt=cwt.drop(['NumberOfEligibleReferralsTreatedWithin62DaysQF'], axis=1)

In [30]:
cwt

,Quarter,HB,HBQF,HBT,CancerType,CancerTypeQF,NumberOfEligibleReferrals62DayStandard,NumberOfEligibleReferralsTreatedWithin62Days
0,2012Q1,S08000015,NaN,S08000015,Breast,NaN,52.0,52.0
1,2012Q1,S08000015,NaN,S08000015,Cervical,NaN,2.0,2.0
2,2012Q1,S08000015,NaN,S08000015,Colorectal,NaN,31.0,29.0
3,2012Q1,S08000015,NaN,S08000015,Head & Neck,NaN,2.0,2.0
4,2012Q1,S08000015,NaN,S08000015,Lung,NaN,34.0,33.0
...,...,...,...,...,...,...,...,...
16540,2021Q4,S92000003,d,S08000029,All Cancer Types,d,180.0,160.0
16541,2021Q4,S92000003,d,S08000030,All Cancer Types,d,237.0,209.0
16542,2021Q4,S92000003,d,S08000031,All Cancer Types,d,1167.0,837.0
16543,2021Q4,S92000003,d,S08000032,All Cancer Types,d,346.0,282.0
16544,2021Q4,S92000003,d,SB0801,All Cancer Types,d,43.0,25.0

# 2B

In [31]:
cwt = cwt.dropna(subset=['HBQF'])

# 2C

In [32]:
cwt = cwt.loc[cwt['CancerType'] == 'All Cancer Types']

In [33]:
cwt

,Quarter,HB,HBQF,HBT,CancerType,CancerTypeQF,NumberOfEligibleReferrals62DayStandard,NumberOfEligibleReferralsTreatedWithin62Days
14040,2012Q1,S92000003,d,S08000015,All Cancer Types,d,169.0,164.0
14041,2012Q1,S92000003,d,S08000016,All Cancer Types,d,65.0,65.0
14042,2012Q1,S92000003,d,S08000017,All Cancer Types,d,85.0,85.0
14043,2012Q1,S92000003,d,S08000019,All Cancer Types,d,137.0,125.0
14044,2012Q1,S92000003,d,S08000020,All Cancer Types,d,293.0,264.0
...,...,...,...,...,...,...,...,...
16540,2021Q4,S92000003,d,S08000029,All Cancer Types,d,180.0,160.0
16541,2021Q4,S92000003,d,S08000030,All Cancer Types,d,237.0,209.0
16542,2021Q4,S92000003,d,S08000031,All Cancer Types,d,1167.0,837.0
16543,2021Q4,S92000003,d,S08000032,All Cancer Types,d,346.0,282.0
16544,2021Q4,S92000003,d,SB0801,All Cancer Types,d,43.0,25.0

# 2D

In [35]:
cwt['Percentage of Referrals Treated'] = (cwt.NumberOfEligibleReferralsTreatedWithin62Days / cwt.NumberOfEligibleReferrals62DayStandard) * 100

In [36]:
cwt

,Quarter,HB,HBQF,HBT,CancerType,CancerTypeQF,NumberOfEligibleReferrals62DayStandard,NumberOfEligibleReferralsTreatedWithin62Days,Percentage of Referrals Treated
14040,2012Q1,S92000003,d,S08000015,All Cancer Types,d,169.0,164.0,97.041420
14041,2012Q1,S92000003,d,S08000016,All Cancer Types,d,65.0,65.0,100.000000
14042,2012Q1,S92000003,d,S08000017,All Cancer Types,d,85.0,85.0,100.000000
14043,2012Q1,S92000003,d,S08000019,All Cancer Types,d,137.0,125.0,91.240876
14044,2012Q1,S92000003,d,S08000020,All Cancer Types,d,293.0,264.0,90.102389
...,...,...,...,...,...,...,...,...,...
16540,2021Q4,S92000003,d,S08000029,All Cancer Types,d,180.0,160.0,88.888889
16541,2021Q4,S92000003,d,S08000030,All Cancer Types,d,237.0,209.0,88.185654
16542,2021Q4,S92000003,d,S08000031,All Cancer Types,d,1167.0,837.0,71.722365
16543,2021Q4,S92000003,d,S08000032,All Cancer Types,d,346.0,282.0,81.502890
16544,2021Q4,S92000003,d,SB0801,All Cancer Types,d,43.0,25.0,58.139535

# 2E

In [45]:
cwtsort = cwt.groupby(['CancerType', 'HBT', 'Quarter'])

In [47]:
cwtsort.first()

                                           HB HBQF CancerTypeQF  \
CancerType       HBT       Quarter
All Cancer Types S08000015 2012Q1   S92000003    d            d
                           2012Q2   S92000003    d            d
                           2012Q3   S92000003    d            d
                           2012Q4   S92000003    d            d
                           2013Q1   S92000003    d            d
...                                       ...  ...          ...
                 SB0801    2020Q4   S92000003    d            d
                           2021Q1   S92000003    d            d
                           2021Q2   S92000003    d            d
                           2021Q3   S92000003    d            d
                           2021Q4   S92000003    d            d

                                    NumberOfEligibleReferrals62DayStandard  \
CancerType       HBT       Quarter
All Cancer Types S08000015 2012Q1                                    169.0
                           2012Q2                                    203.0
                           2012Q3                                    201.0
                           2012Q4                                    220.0
                           2013Q1                                    232.0
...                                                                    ...
                 SB0801    2020Q4                                     38.0
                           2021Q1                                     43.0
                           2021Q2                                     42.0
                           2021Q3                                     32.0
                           2021Q4                                     43.0

                                    NumberOfEligibleReferralsTreatedWithin62Days  \
CancerType       HBT       Quarter
All Cancer Types S08000015 2012Q1                                          164.0
                           2012Q2                                          197.0
                           2012Q3                                          195.0
                           2012Q4                                          212.0
                           2013Q1                                          228.0
...                                                                          ...
                 SB0801    2020Q4                                           32.0
                           2021Q1                                           30.0
                           2021Q2                                           35.0
                           2021Q3                                           22.0
                           2021Q4                                           25.0

                                    Percentage of Referrals Treated
CancerType       HBT       Quarter
All Cancer Types S08000015 2012Q1                         97.041420
                           2012Q2                         97.044335
                           2012Q3                         97.014925
                           2012Q4                         96.363636
                           2013Q1                         98.275862
...                                                             ...
                 SB0801    2020Q4                         84.210526
                           2021Q1                         69.767442
                           2021Q2                         83.333333
                           2021Q3                         68.750000
                           2021Q4                         58.139535

[599 rows x 6 columns]

# 2F

In [60]:
cwt1 = cwt[(cwt.Quarter=='2020Q1') | (cwt.Quarter=='2020Q2')]

In [61]:
cwt2 = cwt[(cwt.Quarter=='2020Q3')|(cwt.Quarter=='2020Q4')]

In [62]:
cwt3 = cwt[(cwt.Quarter=='2021Q1')|(cwt.Quarter=='2021Q2')]

In [63]:
cwt4 = cwt[(cwt.Quarter=='2021Q3')|(cwt.Quarter=='2021Q4')]

In [77]:
data_frames = [cwt1, cwt2, cwt3,cwt4]
cwtmer = pd.concat(data_frames)
cwtmer

,Quarter,HB,HBQF,HBT,CancerType,CancerTypeQF,NumberOfEligibleReferrals62DayStandard,NumberOfEligibleReferralsTreatedWithin62Days,Percentage of Referrals Treated
14519,2020Q1,S92000003,d,S08000015,All Cancer Types,d,263.0,245.0,93.155894
14520,2020Q1,S92000003,d,S08000016,All Cancer Types,d,55.0,53.0,96.363636
14521,2020Q1,S92000003,d,S08000017,All Cancer Types,d,107.0,100.0,93.457944
14522,2020Q1,S92000003,d,S08000019,All Cancer Types,d,245.0,196.0,80.000000
14523,2020Q1,S92000003,d,S08000020,All Cancer Types,d,370.0,310.0,83.783784
...,...,...,...,...,...,...,...,...,...
16540,2021Q4,S92000003,d,S08000029,All Cancer Types,d,180.0,160.0,88.888889
16541,2021Q4,S92000003,d,S08000030,All Cancer Types,d,237.0,209.0,88.185654
16542,2021Q4,S92000003,d,S08000031,All Cancer Types,d,1167.0,837.0,71.722365
16543,2021Q4,S92000003,d,S08000032,All Cancer Types,d,346.0,282.0,81.502890
16544,2021Q4,S92000003,d,SB0801,All Cancer Types,d,43.0,25.0,58.139535

In [78]:
cwtmer.duplicated().sum()

58

In [82]:
cwtmer.drop_duplicates(keep=False,inplace=True)
cwtmer.duplicated().sum()

0

# 2G

In [93]:
copy2 = cwt
copy2

,Quarter,HB,HBQF,HBT,CancerType,CancerTypeQF,NumberOfEligibleReferrals62DayStandard,NumberOfEligibleReferralsTreatedWithin62Days,Percentage of Referrals Treated
14040,2012Q1,S92000003,d,S08000015,All Cancer Types,d,169.0,164.0,97.041420
14041,2012Q1,S92000003,d,S08000016,All Cancer Types,d,65.0,65.0,100.000000
14042,2012Q1,S92000003,d,S08000017,All Cancer Types,d,85.0,85.0,100.000000
14043,2012Q1,S92000003,d,S08000019,All Cancer Types,d,137.0,125.0,91.240876
14044,2012Q1,S92000003,d,S08000020,All Cancer Types,d,293.0,264.0,90.102389
...,...,...,...,...,...,...,...,...,...
16540,2021Q4,S92000003,d,S08000029,All Cancer Types,d,180.0,160.0,88.888889
16541,2021Q4,S92000003,d,S08000030,All Cancer Types,d,237.0,209.0,88.185654
16542,2021Q4,S92000003,d,S08000031,All Cancer Types,d,1167.0,837.0,71.722365
16543,2021Q4,S92000003,d,S08000032,All Cancer Types,d,346.0,282.0,81.502890
16544,2021Q4,S92000003,d,SB0801,All Cancer Types,d,43.0,25.0,58.139535

# 2G

In [92]:
import numpy as np

In [94]:
copy2 = copy2.replace(to_replace = 'S08000025', value = 'np.nan')

In [96]:
copy2.dropna()

,Quarter,HB,HBQF,HBT,CancerType,CancerTypeQF,NumberOfEligibleReferrals62DayStandard,NumberOfEligibleReferralsTreatedWithin62Days,Percentage of Referrals Treated
14040,2012Q1,S92000003,d,S08000015,All Cancer Types,d,169.0,164.0,97.041420
14041,2012Q1,S92000003,d,S08000016,All Cancer Types,d,65.0,65.0,100.000000
14042,2012Q1,S92000003,d,S08000017,All Cancer Types,d,85.0,85.0,100.000000
14043,2012Q1,S92000003,d,S08000019,All Cancer Types,d,137.0,125.0,91.240876
14044,2012Q1,S92000003,d,S08000020,All Cancer Types,d,293.0,264.0,90.102389
...,...,...,...,...,...,...,...,...,...
16540,2021Q4,S92000003,d,S08000029,All Cancer Types,d,180.0,160.0,88.888889
16541,2021Q4,S92000003,d,S08000030,All Cancer Types,d,237.0,209.0,88.185654
16542,2021Q4,S92000003,d,S08000031,All Cancer Types,d,1167.0,837.0,71.722365
16543,2021Q4,S92000003,d,S08000032,All Cancer Types,d,346.0,282.0,81.502890
16544,2021Q4,S92000003,d,SB0801,All Cancer Types,d,43.0,25.0,58.139535

# 2H

In [133]:
copy2[['Year', 'quarter']] = copy2['Quarter'].str.split('Q', expand=True)

In [134]:
copy2

,Quarter,HB,HBQF,HBT,CancerType,CancerTypeQF,NumberOfEligibleReferrals62DayStandard,NumberOfEligibleReferralsTreatedWithin62Days,Percentage of Referrals Treated,Year,quarter
14040,2012Q1,S92000003,d,S08000015,All Cancer Types,d,169.0,164.0,97.041420,2012,1
14041,2012Q1,S92000003,d,S08000016,All Cancer Types,d,65.0,65.0,100.000000,2012,1
14042,2012Q1,S92000003,d,S08000017,All Cancer Types,d,85.0,85.0,100.000000,2012,1
14043,2012Q1,S92000003,d,S08000019,All Cancer Types,d,137.0,125.0,91.240876,2012,1
14044,2012Q1,S92000003,d,S08000020,All Cancer Types,d,293.0,264.0,90.102389,2012,1
...,...,...,...,...,...,...,...,...,...,...,...
16540,2021Q4,S92000003,d,S08000029,All Cancer Types,d,180.0,160.0,88.888889,2021,4
16541,2021Q4,S92000003,d,S08000030,All Cancer Types,d,237.0,209.0,88.185654,2021,4
16542,2021Q4,S92000003,d,S08000031,All Cancer Types,d,1167.0,837.0,71.722365,2021,4
16543,2021Q4,S92000003,d,S08000032,All Cancer Types,d,346.0,282.0,81.502890,2021,4
16544,2021Q4,S92000003,d,SB0801,All Cancer Types,d,43.0,25.0,58.139535,2021,4

# 2i

In [135]:
HealthBoardLabels = pd.read_csv('./hb14_hb19.csv')

In [139]:
SpecialHealthBoardLabels = pd.read_csv("special-health-boards_19022021.csv",encoding= 'unicode_escape')

In [140]:
HealthBoardLabels

,HB,HBName,HBDateEnacted,HBDateArchived,Country
0,S08000015,NHS Ayrshire and Arran,20140401,NaN,S92000003
1,S08000016,NHS Borders,20140401,NaN,S92000003
2,S08000017,NHS Dumfries and Galloway,20140401,NaN,S92000003
3,S08000018,NHS Fife,20140401,20180201.0,S92000003
4,S08000019,NHS Forth Valley,20140401,NaN,S92000003
5,S08000020,NHS Grampian,20140401,NaN,S92000003
6,S08000021,NHS Greater Glasgow and Clyde,20140401,20190331.0,S92000003
7,S08000022,NHS Highland,20140401,NaN,S92000003
8,S08000023,NHS Lanarkshire,20140401,20190331.0,S92000003
9,S08000024,NHS Lothian,20140401,NaN,S92000003
10,S08000025,NHS Orkney,20140401,NaN,S92000003
11,S08000026,NHS Shetland,20140401,NaN,S92000003
12,S08000027,NHS Tayside,20140401,20180201.0,S92000003
13,S08000028,NHS Western Isles,20140401,NaN,S92000003
14,S08000029,NHS Fife,20180202,NaN,S92000003
15,S08000030,NHS Tayside,20180202,NaN,S92000003
16,S08000031,NHS Greater Glasgow and Clyde,20190401,NaN,S92000003
17,S08000032,NHS Lanarkshire,20190401,NaN,S92000003

In [142]:
HealthBoardLabels.rename(columns = {'HB':'HBT'}, inplace = True)

In [143]:
HealthBoardLabels

,HBT,HBName,HBDateEnacted,HBDateArchived,Country
0,S08000015,NHS Ayrshire and Arran,20140401,NaN,S92000003
1,S08000016,NHS Borders,20140401,NaN,S92000003
2,S08000017,NHS Dumfries and Galloway,20140401,NaN,S92000003
3,S08000018,NHS Fife,20140401,20180201.0,S92000003
4,S08000019,NHS Forth Valley,20140401,NaN,S92000003
5,S08000020,NHS Grampian,20140401,NaN,S92000003
6,S08000021,NHS Greater Glasgow and Clyde,20140401,20190331.0,S92000003
7,S08000022,NHS Highland,20140401,NaN,S92000003
8,S08000023,NHS Lanarkshire,20140401,20190331.0,S92000003
9,S08000024,NHS Lothian,20140401,NaN,S92000003
10,S08000025,NHS Orkney,20140401,NaN,S92000003
11,S08000026,NHS Shetland,20140401,NaN,S92000003
12,S08000027,NHS Tayside,20140401,20180201.0,S92000003
13,S08000028,NHS Western Isles,20140401,NaN,S92000003
14,S08000029,NHS Fife,20180202,NaN,S92000003
15,S08000030,NHS Tayside,20180202,NaN,S92000003
16,S08000031,NHS Greater Glasgow and Clyde,20190401,NaN,S92000003
17,S08000032,NHS Lanarkshire,20190401,NaN,S92000003

In [141]:
SpecialHealthBoardLabels

      SHB                               SHBName    Country
0  SB0801  TheÂ Golden Jubilee National Hospital  S92000003
1  SB0802    State Hospitals Board for Scotland  S92000003
2  SB0803                                 NHS24  S92000003
3  SB0804                   NHS Health Scotland  S92000003
4  SB0805       Healthcare Improvement Scotland  S92000003
5  SB0806            Scottish Ambulance Service  S92000003
6  SB0807            NHS Education for Scotland  S92000003
7  SB0808        NHS National Services Scotland  S92000003
8  SN0811  National Facility NHS Louisa Jordan   S92000003

In [149]:
d = copy2.merge(HealthBoardLabels, how='inner', on='HBT')
d

,Quarter,HB,HBQF,HBT,CancerType,CancerTypeQF,NumberOfEligibleReferrals62DayStandard,NumberOfEligibleReferralsTreatedWithin62Days,Percentage of Referrals Treated,Year,quarter,HBName,HBDateEnacted,HBDateArchived,Country
0,2012Q1,S92000003,d,S08000015,All Cancer Types,d,169.0,164.0,97.041420,2012,1,NHS Ayrshire and Arran,20140401,NaN,S92000003
1,2012Q2,S92000003,d,S08000015,All Cancer Types,d,203.0,197.0,97.044335,2012,2,NHS Ayrshire and Arran,20140401,NaN,S92000003
2,2012Q3,S92000003,d,S08000015,All Cancer Types,d,201.0,195.0,97.014925,2012,3,NHS Ayrshire and Arran,20140401,NaN,S92000003
3,2012Q4,S92000003,d,S08000015,All Cancer Types,d,220.0,212.0,96.363636,2012,4,NHS Ayrshire and Arran,20140401,NaN,S92000003
4,2013Q1,S92000003,d,S08000015,All Cancer Types,d,232.0,228.0,98.275862,2013,1,NHS Ayrshire and Arran,20140401,NaN,S92000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,2020Q4,S92000003,d,S08000032,All Cancer Types,d,308.0,282.0,91.558442,2020,4,NHS Lanarkshire,20190401,NaN,S92000003
568,2021Q1,S92000003,d,S08000032,All Cancer Types,d,330.0,306.0,92.727273,2021,1,NHS Lanarkshire,20190401,NaN,S92000003
569,2021Q2,S92000003,d,S08000032,All Cancer Types,d,364.0,338.0,92.857143,2021,2,NHS Lanarkshire,20190401,NaN,S92000003
570,2021Q3,S92000003,d,S08000032,All Cancer Types,d,340.0,303.0,89.117647,2021,3,NHS Lanarkshire,20190401,NaN,S92000003
571,2021Q4,S92000003,d,S08000032,All Cancer Types,d,346.0,282.0,81.502890,2021,4,NHS Lanarkshire,20190401,NaN,S92000003

In [193]:
first_column = d.pop('HBName')
d.insert(3, 'HBTName', first_column)

In [194]:
d

,Quarter,HB,HBQF,HBTName,HBT,CancerType,CancerTypeQF,NumberOfEligibleReferrals62DayStandard,NumberOfEligibleReferralsTreatedWithin62Days,Percentage of Referrals Treated,Year,quarter,HBDateEnacted,HBDateArchived,Country
0,2012Q1,S92000003,d,NHS Ayrshire and Arran,S08000015,All Cancer Types,d,169.0,164.0,97.041420,2012,1,20140401,NaN,S92000003
1,2012Q2,S92000003,d,NHS Ayrshire and Arran,S08000015,All Cancer Types,d,203.0,197.0,97.044335,2012,2,20140401,NaN,S92000003
2,2012Q3,S92000003,d,NHS Ayrshire and Arran,S08000015,All Cancer Types,d,201.0,195.0,97.014925,2012,3,20140401,NaN,S92000003
3,2012Q4,S92000003,d,NHS Ayrshire and Arran,S08000015,All Cancer Types,d,220.0,212.0,96.363636,2012,4,20140401,NaN,S92000003
4,2013Q1,S92000003,d,NHS Ayrshire and Arran,S08000015,All Cancer Types,d,232.0,228.0,98.275862,2013,1,20140401,NaN,S92000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,2020Q4,S92000003,d,NHS Lanarkshire,S08000032,All Cancer Types,d,308.0,282.0,91.558442,2020,4,20190401,NaN,S92000003
568,2021Q1,S92000003,d,NHS Lanarkshire,S08000032,All Cancer Types,d,330.0,306.0,92.727273,2021,1,20190401,NaN,S92000003
569,2021Q2,S92000003,d,NHS Lanarkshire,S08000032,All Cancer Types,d,364.0,338.0,92.857143,2021,2,20190401,NaN,S92000003
570,2021Q3,S92000003,d,NHS Lanarkshire,S08000032,All Cancer Types,d,340.0,303.0,89.117647,2021,3,20190401,NaN,S92000003
571,2021Q4,S92000003,d,NHS Lanarkshire,S08000032,All Cancer Types,d,346.0,282.0,81.502890,2021,4,20190401,NaN,S92000003

# 2j

In [197]:
hidden = d[['Year', 'quarter', 'HB', 'HBT', 'HBTName', 'Percentage of Referrals Treated']]
hidden

,Year,quarter,HB,HBT,HBTName,Percentage of Referrals Treated
0,2012,1,S92000003,S08000015,NHS Ayrshire and Arran,97.041420
1,2012,2,S92000003,S08000015,NHS Ayrshire and Arran,97.044335
2,2012,3,S92000003,S08000015,NHS Ayrshire and Arran,97.014925
3,2012,4,S92000003,S08000015,NHS Ayrshire and Arran,96.363636
4,2013,1,S92000003,S08000015,NHS Ayrshire and Arran,98.275862
...,...,...,...,...,...,...
567,2020,4,S92000003,S08000032,NHS Lanarkshire,91.558442
568,2021,1,S92000003,S08000032,NHS Lanarkshire,92.727273
569,2021,2,S92000003,S08000032,NHS Lanarkshire,92.857143
570,2021,3,S92000003,S08000032,NHS Lanarkshire,89.117647
571,2021,4,S92000003,S08000032,NHS Lanarkshire,81.502890

# 2k

In [ ]:
#hidden.insert(0, 'Period', first_column)

In [203]:
hidden['HBT'].value_counts()

S08000015    44
S08000016    44
S08000017    44
S08000019    44
S08000020    44
S08000022    44
S08000024    44
S08000026    44
S08000028    44
S08000029    44
S08000030    44
S08000031    44
S08000032    44
Name: HBT, dtype: int64

# 2L

In [202]:
hidden.to_csv('F:/hidden.csv')

# Section B Q3

In [293]:
beds = pd.read_csv('./beds_by_nhs_board_of_treatment_and_specialty.csv')

In [294]:
beds

,Quarter,QuarterQF,HB,HBQF,Location,LocationQF,Specialty,SpecialtyQF,SpecialtyName,SpecialtyNameQF,AllStaffedBeds,AllStaffedBedsQF,TotalOccupiedBeds,TotalOccupiedBedsQF,AverageAvailableStaffedBeds,AverageAvailableStaffedBedsQF,AverageOccupiedBeds,AverageOccupiedBedsQF,PercentageOccupancy,PercentageOccupancyQF
0,2016Q3,NaN,SB0801,NaN,D102H,NaN,,z,All Acute,d,16413,NaN,12380,NaN,178.402174,NaN,134.565217,NaN,75.42801437884604,NaN
1,2016Q3,NaN,SB0801,NaN,SB0801,d,,z,All Acute,d,16413,NaN,12380,NaN,178.402174,NaN,134.565217,NaN,75.42801437884604,NaN
2,2016Q4,NaN,SB0801,NaN,D102H,NaN,,z,All Acute,d,16117,NaN,12049,NaN,175.184783,NaN,130.967391,NaN,74.7595706396972,NaN
3,2016Q4,NaN,SB0801,NaN,SB0801,d,,z,All Acute,d,16117,NaN,12049,NaN,175.184783,NaN,130.967391,NaN,74.7595706396972,NaN
4,2017Q1,NaN,SB0801,NaN,D102H,NaN,,z,All Acute,d,15622,NaN,11569,NaN,173.577778,NaN,128.544444,NaN,74.0558187171937,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30443,2020Q3,NaN,S92000003,d,S92000003,d,,z,Women and Newborn Grouping,d,82648,NaN,42486,NaN,898.347826,NaN,461.804348,NaN,51.405962636724425,NaN
30444,2020Q4,NaN,S92000003,d,S92000003,d,,z,Women and Newborn Grouping,d,80901,NaN,42065,NaN,879.358696,NaN,457.228261,NaN,51.99564900310255,NaN
30445,2021Q1,NaN,S92000003,d,S92000003,d,,z,Women and Newborn Grouping,d,77994,NaN,39588,NaN,866.600000,NaN,439.866667,NaN,50.7577505961997,NaN
30446,2021Q2,NaN,S92000003,d,S92000003,d,,z,Women and Newborn Grouping,d,80115,NaN,42834,NaN,880.384615,NaN,470.703297,NaN,53.46564313798914,NaN
30447,2021Q3,p,S92000003,d,S92000003,d,,z,Women and Newborn Grouping,d,79343,NaN,46632,NaN,862.423913,NaN,506.869565,NaN,58.772670556948945,NaN

# 3A&B

In [295]:
beds1 = beds.loc[beds['SpecialtyName'] == 'Medical Oncology']

In [296]:
beds1

,Quarter,QuarterQF,HB,HBQF,Location,LocationQF,Specialty,SpecialtyQF,SpecialtyName,SpecialtyNameQF,AllStaffedBeds,AllStaffedBedsQF,TotalOccupiedBeds,TotalOccupiedBedsQF,AverageAvailableStaffedBeds,AverageAvailableStaffedBedsQF,AverageOccupiedBeds,AverageOccupiedBedsQF,PercentageOccupancy,PercentageOccupancyQF
1626,2016Q3,NaN,S08000015,NaN,A210H,NaN,AD,NaN,Medical Oncology,NaN,121,NaN,49,NaN,1.315217,NaN,0.532609,NaN,40.49586776859504,NaN
1627,2016Q3,NaN,S08000015,NaN,S08000015,d,AD,NaN,Medical Oncology,NaN,121,NaN,49,NaN,1.315217,NaN,0.532609,NaN,40.49586776859504,NaN
1628,2016Q4,NaN,S08000015,NaN,A210H,NaN,AD,NaN,Medical Oncology,NaN,81,NaN,27,NaN,0.880435,NaN,0.293478,NaN,33.333333333333336,NaN
1629,2016Q4,NaN,S08000015,NaN,S08000015,d,AD,NaN,Medical Oncology,NaN,81,NaN,27,NaN,0.880435,NaN,0.293478,NaN,33.333333333333336,NaN
1630,2017Q1,NaN,S08000015,NaN,A210H,NaN,AD,NaN,Medical Oncology,NaN,127,NaN,41,NaN,1.411111,NaN,0.455556,NaN,32.28346456692913,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29888,2020Q3,NaN,S92000003,d,S92000003,d,AD,NaN,Medical Oncology,NaN,7869,NaN,5447,NaN,85.532609,NaN,59.206522,NaN,69.22099377303343,NaN
29889,2020Q4,NaN,S92000003,d,S92000003,d,AD,NaN,Medical Oncology,NaN,8420,NaN,5478,NaN,91.521739,NaN,59.543478,NaN,65.05938242280284,NaN
29890,2021Q1,NaN,S92000003,d,S92000003,d,AD,NaN,Medical Oncology,NaN,9450,NaN,5692,NaN,105.000000,NaN,63.244444,NaN,60.23280423280424,NaN
29891,2021Q2,NaN,S92000003,d,S92000003,d,AD,NaN,Medical Oncology,NaN,9299,NaN,5997,NaN,102.186813,NaN,65.901099,NaN,64.49080546295302,NaN
29892,2021Q3,p,S92000003,d,S92000003,d,AD,NaN,Medical Oncology,NaN,9263,NaN,6266,NaN,100.684783,NaN,68.108696,NaN,67.64547122962323,NaN

# 3C

In [297]:
beds1 = beds1.drop(['QuarterQF', 'HBQF', 'SpecialtyNameQF', 'AllStaffedBedsQF', 
                    'TotalOccupiedBedsQF', 'AverageAvailableStaffedBedsQF', 'AverageOccupiedBedsQF', 
                    'PercentageOccupancyQF'], axis=1)

In [298]:
beds1 = beds1.drop(['SpecialtyQF'], axis=1)

In [299]:
beds1

,Quarter,HB,Location,LocationQF,Specialty,SpecialtyName,AllStaffedBeds,TotalOccupiedBeds,AverageAvailableStaffedBeds,AverageOccupiedBeds,PercentageOccupancy
1626,2016Q3,S08000015,A210H,NaN,AD,Medical Oncology,121,49,1.315217,0.532609,40.49586776859504
1627,2016Q3,S08000015,S08000015,d,AD,Medical Oncology,121,49,1.315217,0.532609,40.49586776859504
1628,2016Q4,S08000015,A210H,NaN,AD,Medical Oncology,81,27,0.880435,0.293478,33.333333333333336
1629,2016Q4,S08000015,S08000015,d,AD,Medical Oncology,81,27,0.880435,0.293478,33.333333333333336
1630,2017Q1,S08000015,A210H,NaN,AD,Medical Oncology,127,41,1.411111,0.455556,32.28346456692913
...,...,...,...,...,...,...,...,...,...,...,...
29888,2020Q3,S92000003,S92000003,d,AD,Medical Oncology,7869,5447,85.532609,59.206522,69.22099377303343
29889,2020Q4,S92000003,S92000003,d,AD,Medical Oncology,8420,5478,91.521739,59.543478,65.05938242280284
29890,2021Q1,S92000003,S92000003,d,AD,Medical Oncology,9450,5692,105.000000,63.244444,60.23280423280424
29891,2021Q2,S92000003,S92000003,d,AD,Medical Oncology,9299,5997,102.186813,65.901099,64.49080546295302
29892,2021Q3,S92000003,S92000003,d,AD,Medical Oncology,9263,6266,100.684783,68.108696,67.64547122962323

# 3D

In [300]:
beds1 = beds1.loc[beds['LocationQF'] == 'd']

In [301]:
beds1

,Quarter,HB,Location,LocationQF,Specialty,SpecialtyName,AllStaffedBeds,TotalOccupiedBeds,AverageAvailableStaffedBeds,AverageOccupiedBeds,PercentageOccupancy
1627,2016Q3,S08000015,S08000015,d,AD,Medical Oncology,121,49,1.315217,0.532609,40.49586776859504
1629,2016Q4,S08000015,S08000015,d,AD,Medical Oncology,81,27,0.880435,0.293478,33.333333333333336
1631,2017Q1,S08000015,S08000015,d,AD,Medical Oncology,127,41,1.411111,0.455556,32.28346456692913
1633,2017Q2,S08000015,S08000015,d,AD,Medical Oncology,143,33,1.571429,0.362637,23.076923076923077
1635,2017Q3,S08000015,S08000015,d,AD,Medical Oncology,137,24,1.489130,0.260870,17.51824817518248
...,...,...,...,...,...,...,...,...,...,...,...
29888,2020Q3,S92000003,S92000003,d,AD,Medical Oncology,7869,5447,85.532609,59.206522,69.22099377303343
29889,2020Q4,S92000003,S92000003,d,AD,Medical Oncology,8420,5478,91.521739,59.543478,65.05938242280284
29890,2021Q1,S92000003,S92000003,d,AD,Medical Oncology,9450,5692,105.000000,63.244444,60.23280423280424
29891,2021Q2,S92000003,S92000003,d,AD,Medical Oncology,9299,5997,102.186813,65.901099,64.49080546295302
29892,2021Q3,S92000003,S92000003,d,AD,Medical Oncology,9263,6266,100.684783,68.108696,67.64547122962323

# 3E

In [302]:
bedsort = beds1.groupby(['HB','Quarter'])

In [303]:
bedsort.first()

                    Location LocationQF Specialty     SpecialtyName  \
HB        Quarter
S08000015 2016Q3   S08000015          d        AD  Medical Oncology
          2016Q4   S08000015          d        AD  Medical Oncology
          2017Q1   S08000015          d        AD  Medical Oncology
          2017Q2   S08000015          d        AD  Medical Oncology
          2017Q3   S08000015          d        AD  Medical Oncology
...                      ...        ...       ...               ...
S92000003 2020Q3   S92000003          d        AD  Medical Oncology
          2020Q4   S92000003          d        AD  Medical Oncology
          2021Q1   S92000003          d        AD  Medical Oncology
          2021Q2   S92000003          d        AD  Medical Oncology
          2021Q3   S92000003          d        AD  Medical Oncology

                   AllStaffedBeds  TotalOccupiedBeds  \
HB        Quarter
S08000015 2016Q3              121                 49
          2016Q4               81                 27
          2017Q1              127                 41
          2017Q2              143                 33
          2017Q3              137                 24
...                           ...                ...
S92000003 2020Q3             7869               5447
          2020Q4             8420               5478
          2021Q1             9450               5692
          2021Q2             9299               5997
          2021Q3             9263               6266

                   AverageAvailableStaffedBeds  AverageOccupiedBeds  \
HB        Quarter
S08000015 2016Q3                      1.315217             0.532609
          2016Q4                      0.880435             0.293478
          2017Q1                      1.411111             0.455556
          2017Q2                      1.571429             0.362637
          2017Q3                      1.489130             0.260870
...                                        ...                  ...
S92000003 2020Q3                     85.532609            59.206522
          2020Q4                     91.521739            59.543478
          2021Q1                    105.000000            63.244444
          2021Q2                    102.186813            65.901099
          2021Q3                    100.684783            68.108696

                  PercentageOccupancy
HB        Quarter
S08000015 2016Q3    40.49586776859504
          2016Q4   33.333333333333336
          2017Q1    32.28346456692913
          2017Q2   23.076923076923077
          2017Q3    17.51824817518248
...                               ...
S92000003 2020Q3    69.22099377303343
          2020Q4    65.05938242280284
          2021Q1    60.23280423280424
          2021Q2    64.49080546295302
          2021Q3    67.64547122962323

[160 rows x 9 columns]

# 3F

In [304]:
beds1[['Year', 'quarter']] = beds1['Quarter'].str.split('Q', expand=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [305]:
beds1

,Quarter,HB,Location,LocationQF,Specialty,SpecialtyName,AllStaffedBeds,TotalOccupiedBeds,AverageAvailableStaffedBeds,AverageOccupiedBeds,PercentageOccupancy,Year,quarter
1627,2016Q3,S08000015,S08000015,d,AD,Medical Oncology,121,49,1.315217,0.532609,40.49586776859504,2016,3
1629,2016Q4,S08000015,S08000015,d,AD,Medical Oncology,81,27,0.880435,0.293478,33.333333333333336,2016,4
1631,2017Q1,S08000015,S08000015,d,AD,Medical Oncology,127,41,1.411111,0.455556,32.28346456692913,2017,1
1633,2017Q2,S08000015,S08000015,d,AD,Medical Oncology,143,33,1.571429,0.362637,23.076923076923077,2017,2
1635,2017Q3,S08000015,S08000015,d,AD,Medical Oncology,137,24,1.489130,0.260870,17.51824817518248,2017,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29888,2020Q3,S92000003,S92000003,d,AD,Medical Oncology,7869,5447,85.532609,59.206522,69.22099377303343,2020,3
29889,2020Q4,S92000003,S92000003,d,AD,Medical Oncology,8420,5478,91.521739,59.543478,65.05938242280284,2020,4
29890,2021Q1,S92000003,S92000003,d,AD,Medical Oncology,9450,5692,105.000000,63.244444,60.23280423280424,2021,1
29891,2021Q2,S92000003,S92000003,d,AD,Medical Oncology,9299,5997,102.186813,65.901099,64.49080546295302,2021,2
29892,2021Q3,S92000003,S92000003,d,AD,Medical Oncology,9263,6266,100.684783,68.108696,67.64547122962323,2021,3

# 3G

In [306]:
beds2 = beds1.replace(to_replace = '2016', value = np.nan)

In [307]:
beds2 = beds2.replace(to_replace = '2021', value = np.nan)

In [309]:
beds2 = beds2.dropna()

In [310]:
beds2

,Quarter,HB,Location,LocationQF,Specialty,SpecialtyName,AllStaffedBeds,TotalOccupiedBeds,AverageAvailableStaffedBeds,AverageOccupiedBeds,PercentageOccupancy,Year,quarter
1631,2017Q1,S08000015,S08000015,d,AD,Medical Oncology,127,41,1.411111,0.455556,32.28346456692913,2017,1
1633,2017Q2,S08000015,S08000015,d,AD,Medical Oncology,143,33,1.571429,0.362637,23.076923076923077,2017,2
1635,2017Q3,S08000015,S08000015,d,AD,Medical Oncology,137,24,1.489130,0.260870,17.51824817518248,2017,3
1637,2017Q4,S08000015,S08000015,d,AD,Medical Oncology,180,60,1.956522,0.652174,33.33333333333333,2017,4
1639,2018Q1,S08000015,S08000015,d,AD,Medical Oncology,96,10,1.066667,0.111111,10.416666666666666,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29885,2019Q4,S92000003,S92000003,d,AD,Medical Oncology,8021,6781,87.184783,73.706522,84.54058097494078,2019,4
29886,2020Q1,S92000003,S92000003,d,AD,Medical Oncology,8069,6777,88.670330,74.472527,83.9881026149461,2020,1
29887,2020Q2,S92000003,S92000003,d,AD,Medical Oncology,8280,4281,90.989011,47.043956,51.70289855072464,2020,2
29888,2020Q3,S92000003,S92000003,d,AD,Medical Oncology,7869,5447,85.532609,59.206522,69.22099377303343,2020,3
29889,2020Q4,S92000003,S92000003,d,AD,Medical Oncology,8420,5478,91.521739,59.543478,65.05938242280284,2020,4

# 3H.i

In [311]:
beds2.rename(columns = {'HB':'HBT'}, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [312]:
beds2

,Quarter,HBT,Location,LocationQF,Specialty,SpecialtyName,AllStaffedBeds,TotalOccupiedBeds,AverageAvailableStaffedBeds,AverageOccupiedBeds,PercentageOccupancy,Year,quarter
1631,2017Q1,S08000015,S08000015,d,AD,Medical Oncology,127,41,1.411111,0.455556,32.28346456692913,2017,1
1633,2017Q2,S08000015,S08000015,d,AD,Medical Oncology,143,33,1.571429,0.362637,23.076923076923077,2017,2
1635,2017Q3,S08000015,S08000015,d,AD,Medical Oncology,137,24,1.489130,0.260870,17.51824817518248,2017,3
1637,2017Q4,S08000015,S08000015,d,AD,Medical Oncology,180,60,1.956522,0.652174,33.33333333333333,2017,4
1639,2018Q1,S08000015,S08000015,d,AD,Medical Oncology,96,10,1.066667,0.111111,10.416666666666666,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29885,2019Q4,S92000003,S92000003,d,AD,Medical Oncology,8021,6781,87.184783,73.706522,84.54058097494078,2019,4
29886,2020Q1,S92000003,S92000003,d,AD,Medical Oncology,8069,6777,88.670330,74.472527,83.9881026149461,2020,1
29887,2020Q2,S92000003,S92000003,d,AD,Medical Oncology,8280,4281,90.989011,47.043956,51.70289855072464,2020,2
29888,2020Q3,S92000003,S92000003,d,AD,Medical Oncology,7869,5447,85.532609,59.206522,69.22099377303343,2020,3
29889,2020Q4,S92000003,S92000003,d,AD,Medical Oncology,8420,5478,91.521739,59.543478,65.05938242280284,2020,4

In [313]:
HBname= beds2.merge(HealthBoardLabels, how='inner', on='HBT')

In [314]:
HBname

,Quarter,HBT,Location,LocationQF,Specialty,SpecialtyName,AllStaffedBeds,TotalOccupiedBeds,AverageAvailableStaffedBeds,AverageOccupiedBeds,PercentageOccupancy,Year,quarter,HBName,HBDateEnacted,HBDateArchived,Country
0,2017Q1,S08000015,S08000015,d,AD,Medical Oncology,127,41,1.411111,0.455556,32.28346456692913,2017,1,NHS Ayrshire and Arran,20140401,NaN,S92000003
1,2017Q2,S08000015,S08000015,d,AD,Medical Oncology,143,33,1.571429,0.362637,23.076923076923077,2017,2,NHS Ayrshire and Arran,20140401,NaN,S92000003
2,2017Q3,S08000015,S08000015,d,AD,Medical Oncology,137,24,1.489130,0.260870,17.51824817518248,2017,3,NHS Ayrshire and Arran,20140401,NaN,S92000003
3,2017Q4,S08000015,S08000015,d,AD,Medical Oncology,180,60,1.956522,0.652174,33.33333333333333,2017,4,NHS Ayrshire and Arran,20140401,NaN,S92000003
4,2018Q1,S08000015,S08000015,d,AD,Medical Oncology,96,10,1.066667,0.111111,10.416666666666666,2018,1,NHS Ayrshire and Arran,20140401,NaN,S92000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2019Q4,S08000030,S08000030,d,AD,Medical Oncology,184,184,2.000000,2.000000,100,2019,4,NHS Tayside,20180202,NaN,S92000003
104,2020Q1,S08000030,S08000030,d,AD,Medical Oncology,256,256,2.813187,2.813187,100,2020,1,NHS Tayside,20180202,NaN,S92000003
105,2020Q2,S08000030,S08000030,d,AD,Medical Oncology,113,113,1.241758,1.241758,100,2020,2,NHS Tayside,20180202,NaN,S92000003
106,2020Q3,S08000030,S08000030,d,AD,Medical Oncology,122,122,1.326087,1.326087,100,2020,3,NHS Tayside,20180202,NaN,S92000003
107,2020Q4,S08000030,S08000030,d,AD,Medical Oncology,183,183,1.989130,1.989130,100,2020,4,NHS Tayside,20180202,NaN,S92000003

In [315]:
column = HBname.pop('HBName')
HBname.insert(2, 'HB Name', column)

In [316]:
HBname

,Quarter,HBT,HB Name,Location,LocationQF,Specialty,SpecialtyName,AllStaffedBeds,TotalOccupiedBeds,AverageAvailableStaffedBeds,AverageOccupiedBeds,PercentageOccupancy,Year,quarter,HBDateEnacted,HBDateArchived,Country
0,2017Q1,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,127,41,1.411111,0.455556,32.28346456692913,2017,1,20140401,NaN,S92000003
1,2017Q2,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,143,33,1.571429,0.362637,23.076923076923077,2017,2,20140401,NaN,S92000003
2,2017Q3,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,137,24,1.489130,0.260870,17.51824817518248,2017,3,20140401,NaN,S92000003
3,2017Q4,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,180,60,1.956522,0.652174,33.33333333333333,2017,4,20140401,NaN,S92000003
4,2018Q1,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,96,10,1.066667,0.111111,10.416666666666666,2018,1,20140401,NaN,S92000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2019Q4,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,184,184,2.000000,2.000000,100,2019,4,20180202,NaN,S92000003
104,2020Q1,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,256,256,2.813187,2.813187,100,2020,1,20180202,NaN,S92000003
105,2020Q2,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,113,113,1.241758,1.241758,100,2020,2,20180202,NaN,S92000003
106,2020Q3,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,122,122,1.326087,1.326087,100,2020,3,20180202,NaN,S92000003
107,2020Q4,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,183,183,1.989130,1.989130,100,2020,4,20180202,NaN,S92000003

In [317]:
HBname.rename(columns = {'HBT':'HB'}, inplace = True)

In [318]:
HBname

,Quarter,HB,HB Name,Location,LocationQF,Specialty,SpecialtyName,AllStaffedBeds,TotalOccupiedBeds,AverageAvailableStaffedBeds,AverageOccupiedBeds,PercentageOccupancy,Year,quarter,HBDateEnacted,HBDateArchived,Country
0,2017Q1,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,127,41,1.411111,0.455556,32.28346456692913,2017,1,20140401,NaN,S92000003
1,2017Q2,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,143,33,1.571429,0.362637,23.076923076923077,2017,2,20140401,NaN,S92000003
2,2017Q3,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,137,24,1.489130,0.260870,17.51824817518248,2017,3,20140401,NaN,S92000003
3,2017Q4,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,180,60,1.956522,0.652174,33.33333333333333,2017,4,20140401,NaN,S92000003
4,2018Q1,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,96,10,1.066667,0.111111,10.416666666666666,2018,1,20140401,NaN,S92000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2019Q4,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,184,184,2.000000,2.000000,100,2019,4,20180202,NaN,S92000003
104,2020Q1,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,256,256,2.813187,2.813187,100,2020,1,20180202,NaN,S92000003
105,2020Q2,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,113,113,1.241758,1.241758,100,2020,2,20180202,NaN,S92000003
106,2020Q3,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,122,122,1.326087,1.326087,100,2020,3,20180202,NaN,S92000003
107,2020Q4,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,183,183,1.989130,1.989130,100,2020,4,20180202,NaN,S92000003

# 3H.ii

In [326]:
HBname_new = HBname.loc[HBname['Country'] == 'S92000003']

In [327]:
HBname_new

,Quarter,HB,HB Name,Location,LocationQF,Specialty,SpecialtyName,AllStaffedBeds,TotalOccupiedBeds,AverageAvailableStaffedBeds,AverageOccupiedBeds,PercentageOccupancy,Year,quarter,HBDateEnacted,HBDateArchived,Country
0,2017Q1,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,127,41,1.411111,0.455556,32.28346456692913,2017,1,20140401,NaN,S92000003
1,2017Q2,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,143,33,1.571429,0.362637,23.076923076923077,2017,2,20140401,NaN,S92000003
2,2017Q3,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,137,24,1.489130,0.260870,17.51824817518248,2017,3,20140401,NaN,S92000003
3,2017Q4,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,180,60,1.956522,0.652174,33.33333333333333,2017,4,20140401,NaN,S92000003
4,2018Q1,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,96,10,1.066667,0.111111,10.416666666666666,2018,1,20140401,NaN,S92000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2019Q4,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,184,184,2.000000,2.000000,100,2019,4,20180202,NaN,S92000003
104,2020Q1,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,256,256,2.813187,2.813187,100,2020,1,20180202,NaN,S92000003
105,2020Q2,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,113,113,1.241758,1.241758,100,2020,2,20180202,NaN,S92000003
106,2020Q3,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,122,122,1.326087,1.326087,100,2020,3,20180202,NaN,S92000003
107,2020Q4,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,183,183,1.989130,1.989130,100,2020,4,20180202,NaN,S92000003

In [328]:
HBname_new.fillna('SCOTLAND')

,Quarter,HB,HB Name,Location,LocationQF,Specialty,SpecialtyName,AllStaffedBeds,TotalOccupiedBeds,AverageAvailableStaffedBeds,AverageOccupiedBeds,PercentageOccupancy,Year,quarter,HBDateEnacted,HBDateArchived,Country
0,2017Q1,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,127,41,1.411111,0.455556,32.28346456692913,2017,1,20140401,SCOTLAND,S92000003
1,2017Q2,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,143,33,1.571429,0.362637,23.076923076923077,2017,2,20140401,SCOTLAND,S92000003
2,2017Q3,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,137,24,1.489130,0.260870,17.51824817518248,2017,3,20140401,SCOTLAND,S92000003
3,2017Q4,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,180,60,1.956522,0.652174,33.33333333333333,2017,4,20140401,SCOTLAND,S92000003
4,2018Q1,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,96,10,1.066667,0.111111,10.416666666666666,2018,1,20140401,SCOTLAND,S92000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2019Q4,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,184,184,2.000000,2.000000,100,2019,4,20180202,SCOTLAND,S92000003
104,2020Q1,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,256,256,2.813187,2.813187,100,2020,1,20180202,SCOTLAND,S92000003
105,2020Q2,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,113,113,1.241758,1.241758,100,2020,2,20180202,SCOTLAND,S92000003
106,2020Q3,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,122,122,1.326087,1.326087,100,2020,3,20180202,SCOTLAND,S92000003
107,2020Q4,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,183,183,1.989130,1.989130,100,2020,4,20180202,SCOTLAND,S92000003

# 3i

In [329]:
HBname_new.isna().sum()

Quarter                          0
HB                               0
HB Name                          0
Location                         0
LocationQF                       0
Specialty                        0
SpecialtyName                    0
AllStaffedBeds                   0
TotalOccupiedBeds                0
AverageAvailableStaffedBeds      0
AverageOccupiedBeds              0
PercentageOccupancy              0
Year                             0
quarter                          0
HBDateEnacted                    0
HBDateArchived                 108
Country                          0
dtype: int64

In [330]:
HBname_new=HBname_new.drop(['HBDateArchived'], axis=1)

In [331]:
HBname_new

,Quarter,HB,HB Name,Location,LocationQF,Specialty,SpecialtyName,AllStaffedBeds,TotalOccupiedBeds,AverageAvailableStaffedBeds,AverageOccupiedBeds,PercentageOccupancy,Year,quarter,HBDateEnacted,Country
0,2017Q1,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,127,41,1.411111,0.455556,32.28346456692913,2017,1,20140401,S92000003
1,2017Q2,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,143,33,1.571429,0.362637,23.076923076923077,2017,2,20140401,S92000003
2,2017Q3,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,137,24,1.489130,0.260870,17.51824817518248,2017,3,20140401,S92000003
3,2017Q4,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,180,60,1.956522,0.652174,33.33333333333333,2017,4,20140401,S92000003
4,2018Q1,S08000015,NHS Ayrshire and Arran,S08000015,d,AD,Medical Oncology,96,10,1.066667,0.111111,10.416666666666666,2018,1,20140401,S92000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2019Q4,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,184,184,2.000000,2.000000,100,2019,4,20180202,S92000003
104,2020Q1,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,256,256,2.813187,2.813187,100,2020,1,20180202,S92000003
105,2020Q2,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,113,113,1.241758,1.241758,100,2020,2,20180202,S92000003
106,2020Q3,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,122,122,1.326087,1.326087,100,2020,3,20180202,S92000003
107,2020Q4,S08000030,NHS Tayside,S08000030,d,AD,Medical Oncology,183,183,1.989130,1.989130,100,2020,4,20180202,S92000003

# 3j

In [333]:
bedsout = HBname_new[['Year', 'quarter', 'HB', 'HB Name', 'PercentageOccupancy']]

In [334]:
bedsout

     Year quarter         HB                 HB Name PercentageOccupancy
0    2017       1  S08000015  NHS Ayrshire and Arran   32.28346456692913
1    2017       2  S08000015  NHS Ayrshire and Arran  23.076923076923077
2    2017       3  S08000015  NHS Ayrshire and Arran   17.51824817518248
3    2017       4  S08000015  NHS Ayrshire and Arran   33.33333333333333
4    2018       1  S08000015  NHS Ayrshire and Arran  10.416666666666666
..    ...     ...        ...                     ...                 ...
103  2019       4  S08000030             NHS Tayside                 100
104  2020       1  S08000030             NHS Tayside                 100
105  2020       2  S08000030             NHS Tayside                 100
106  2020       3  S08000030             NHS Tayside                 100
107  2020       4  S08000030             NHS Tayside                 100

[108 rows x 5 columns]

# 3k

In [335]:
bedsout['HB'].value_counts()

S08000020    16
S08000031    16
S08000024    16
S08000030    16
S08000015    15
S08000029    12
S08000025    10
S08000016     4
S08000032     2
S08000022     1
Name: HB, dtype: int64

# 3L

In [336]:
bedsout.to_csv('F:/bedsout.csv')

# Section D

In [2]:
staffpershift = pd.read_excel('./Number of staff needed per work shift.xlsx')

In [3]:
staffpershift

  Time Period Shifts  Number of Staff Required
0         9:00-12:00                        32
1        12:00-15:00                        24
2        15:00-18:00                        20
3        18:00-21:00                        28
4        21:00-24:00                        16
5          0:00-3:00                         4
6          3:00-6:00                         5
7          6:00-9:00                        12

In [22]:
from sklearn import linear_model, metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [14]:
staffpershift[["Time Period Shifts"]] = staffpershift[["Time Period Shifts"]].apply(lambda col:pd.Categorical(col).codes)

In [15]:
x=staffpershift.drop("Number of Staff Required", axis=1)

In [16]:
y= staffpershift.drop("Time Period Shifts", axis=1)

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25,random_state=2)

In [18]:
linreg= linear_model.LinearRegression()

In [19]:
linreg.fit(x_train, y_train)

LinearRegression()

In [21]:
y_pred=linreg.predict(x_test)

In [23]:
y_pred

array([[17.11004785],
       [12.1291866 ]])

In [24]:
mean_squared_error(y_pred,y_test)

71.0742084659234

In [26]:
linreg.score(y_pred,y_test)

-16.718251792788077