In [8]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('C:/Users/91700/Downloads/Accidents0514.csv/Accidents0514.csv')

C:\Users\91700\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
df.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640597 entries, 0 to 1640596
Data columns (total 32 columns):
 #   Column                                       Non-Null Count    Dtype
---  ------                                       --------------    -----
 0   Accident_Index                               1640597 non-null  object
 1   Location_Easting_OSGR                        1640486 non-null  float64
 2   Location_Northing_OSGR                       1640486 non-null  float64
 3   Longitude                                    1640486 non-null  float64
 4   Latitude                                     1640486 non-null  float64
 5   Police_Force                                 1640597 non-null  int64
 6   Accident_Severity                            1640597 non-null  int64
 7   Number_of_Vehicles                           1640597 non-null  int64
 8   Number_of_Casualties                         1640597 non-null  int64
 9   Date                                         1640597 non-null  object
 10  Day_of_Week                                  1640597 non-null  int64
 11  Time                                         1640464 non-null  object
 12  Local_Authority_(District)                   1640597 non-null  int64
 13  Local_Authority_(Highway)                    1640597 non-null  object
 14  1st_Road_Class                               1640597 non-null  int64
 15  1st_Road_Number                              1640597 non-null  int64
 16  Road_Type                                    1640597 non-null  int64
 17  Speed_limit                                  1640597 non-null  int64
 18  Junction_Detail                              1640597 non-null  int64
 19  Junction_Control                             1640597 non-null  int64
 20  2nd_Road_Class                               1640597 non-null  int64
 21  2nd_Road_Number                              1640597 non-null  int64
 22  Pedestrian_Crossing-Human_Control            1640597 non-null  int64
 23  Pedestrian_Crossing-Physical_Facilities      1640597 non-null  int64
 24  Light_Conditions                             1640597 non-null  int64
 25  Weather_Conditions                           1640597 non-null  int64
 26  Road_Surface_Conditions                      1640597 non-null  int64
 27  Special_Conditions_at_Site                   1640597 non-null  int64
 28  Carriageway_Hazards                          1640597 non-null  int64
 29  Urban_or_Rural_Area                          1640597 non-null  int64
 30  Did_Police_Officer_Attend_Scene_of_Accident  1640597 non-null  int64
 31  LSOA_of_Accident_Location                    1520023 non-null  object
dtypes: float64(4), int64(23), object(5)
memory usage: 400.5+ MB

In [16]:
df.isnull().any().any()

True

In [17]:
df.isnull().sum().sum()

121151

In [18]:
df.dropna()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631803,201463DP40114,314240.0,293390.0,-3.265712,52.531575,63,3,1,3,01/11/2014,...,0,0,6,2,2,0,0,2,1,W01000481
1631804,201463DP40214,313050.0,291200.0,-3.282677,52.511702,63,3,1,2,09/11/2014,...,0,0,6,1,1,0,0,2,1,W01000480
1631805,201463DP40314,315230.0,326460.0,-3.259644,52.828952,63,3,2,1,09/12/2014,...,0,0,6,2,2,0,0,2,1,W01001907
1631806,201463DP40414,303140.0,228320.0,-3.410628,51.944879,63,3,2,1,21/12/2014,...,0,0,4,9,2,0,0,2,2,W01000489
1631807,201463DP40514,325530.0,319340.0,-3.105177,52.766481,63,2,1,1,19/10/2014,...,0,0,1,1,1,0,0,2,1,W01000458

In [19]:
df.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863